<!doctype html>
<html>
<head>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Node Authentication</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <style>
        body {font-family: "Raleway", Arial, sans-serif}
        .w3-row img{margin-bottom:-8px}
        h3{
            text-align : center;
        }
    </style>
</head>
<body>
<br>
<br>
<h3>Wellcome to admin page</h3>
<br>
<br>
<br>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

            <a href="http://localhost:8080/deleteUser" class="w3-btn w3-btn-block w3-padding-12 w3-dark-grey">delete some user</a>

        <hr>
        </div>
        <div class="col-sm-6 col-sm-offset-3">

            <a href="http://localhost:8080/deleteIdea" class="w3-btn w3-btn-block w3-padding-12 w3-dark-grey">delete some idea</a>

    </div>

</div>
</body>
</html>