<!doctype html>
<html>
<head>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Create idea</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <style>
        body {font-family: "Raleway", Arial, sans-serif}
        .w3-row img{margin-bottom:-8px}
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">
        <a href="/" class="w3-left w3-btn w3-red">Home</a>
        <br><br><br><br>
        <h1>Create Idea</h1>

        <form method="post" enctype="multipart/form-data">
            <div class="w3-group">
                <label>Title</label>
                <input type="hidden" name="_csrf" value=<%=csrfToken%>>
                <input type="text" class="w3-input w3-border" name="title">
            </div>
            <div class="form-group">
                <label>Text</label>
                <input type="text" class="w3-input w3-border" name="text">
            </div>
            <p><label>Add image</label></p>
            <input type ="file" name ="picture"/><br>

            <button type="submit"class="w3-btn w3-btn-block w3-padding-12 w3-dark-grey">Create</button>
        </form>

        <hr>

        <p>Need an account? <a href="/signup">Signup</a></p>

    </div>

</div>
</body>
</html>