<!doctype html>
<html>
<head>
<title></title>
</head>
<body>
<div class="container">

<div class="jumbotron text-center">
<h1><span class="fa fa-lock"></span> Node Authentication</h1>

    <form method="post">
        <div class="w3-group">
            <label>Email</label>
            <input type="text" class="w3-input w3-border" name="email">
        </div>
        <button type="submit"class="w3-btn w3-btn-block w3-padding-12 w3-dark-grey">Delete</button>
    </form>

<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
</div>

</div>
</body>
</html>
