<!DOCTYPE html>
<html>
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<title>Whatasheet</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
<style>
    .whatasheet{
        width: 100%;
    }
  body {font-family: "Raleway", Arial, sans-serif}
  .w3-row img{margin-bottom:-8px}
</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

  <!-- Header -->
  <header class="w3-container w3-xlarge w3-padding-24">
    <a href="/login" class="w3-left w3-btn w3-white">Login</a>
    <a href="/ideas" class="w3-left w3-btn w3-white">All ideas</a>
    <a href="/profile" class="w3-right w3-btn w3-white">My profile</a>
    <a href="/users" class="w3-right w3-btn w3-grey">Users</a>
    <a href="/createIdea" class="w3-left w3-btn w3-red">Create idea</a>
  </header>

  <!-- Photo Grid -->
  <div class="w3-row">
      <img class="whatasheet" src="https://pp.vk.me/c637824/v637824240/1feb1/Z_0EP-C9DJI.jpg"/>

  <!-- End Page Content -->
</div>

</body>
</html>


